@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
}

header div{
    background-color: #D1891C;
    font-size: 15px;
    padding: 10px;
}

header h1{
    background-color: #00669F;
    box-shadow: 0px 5px rgba(0,0,0,0.2);
    color: white;
    font-size: 40px;
    font-weight: normal;
    padding: 28px 28px 26px;
}

section{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    border-radius: 16px;
    height: 590px;
    margin: 30px;
    width: 300px;
}

.cover-photo{
    border-radius: 16px 16px 0px 0px;
    padding: 16px 21px 150px;
    height: 193px;
    width: 300px;
}

.avatar{
    border-radius: 50%;
    height: 120px;
    width: 120px;
    position: relative;
    left: 90px;
    bottom: 60px;
}

.fas.fa-heart{
    color: #CC2424;
    font-size: 30px;
}

.info{
    background-color: #F3F3F3;
    box-shadow: 0px 5px 3px grey;
    font-weight: 400;
    height: 397px;
    position: relative;
    bottom: 120px;
    z-index: -1;
}

.info h3{
    font-size: 24px;
    padding-top: 80px;
    text-align: center;
}

.info p{
    font-size: 16px;
    font-weight: lighter;
    padding: 10px 16px;
    text-align: left;
    margin-top: 10px;  
}

.buttonMore{
    background-color: #00669F;
    color:#F3F3F3;
    font-size: 15px;
    align-self: center;
    text-align: center;
    width: 130px;
    padding: 15px 10px;
    position: absolute;
    bottom: 10px;
    left: 85px;
}

.cover-photo.batman{
    background-image: url(../img/background-batman.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.avatar.batman{
    background-image: url(../img/avatar-batman.png);
}

.cover-photo.wonder-woman{
    background-image: url(../img/background-wonder-woman.png);
    background-repeat: no-repeat;
}

.avatar.wonder-woman{
    background-image: url(../img/avatar-wonder-woman.png);
}

.cover-photo.superman{
    background-image: url(../img/background-superman.png);
    background-repeat: no-repeat;
}

.avatar.superman{
    background-image: url(../img/avatar-superman.png);
}

.cover-photo.harley{
    background-image: url(../img/background-harley.png);
    background-repeat: no-repeat;
}

.avatar.harley{
    background-image: url(../img/avatar-harley.png);
}

h3.titleBatman, h3.titleWonderWoman, h3.titleSuperman{
    text-transform: uppercase;
}

.add{
    background-color: #00669F;
    border-radius: 50%;
    color: white;
    font-size: 48px;
    font-weight: bolder;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 80%;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: #00669F;
    color: #FFF9F9;
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

footer p{
    width: 60vw;
    text-align: right;
}

footer img{
    width: 83px;
    height: 23px;
}

@media (max-width: 736px){
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 570px){
    footer p{
        font-size: 0.75rem;
    }
}